html, body{
    height: 100%;
    overflow-x: hidden;
}
body{
    perspective: 6px;
    perspective-origin: 50% 160px;
    display: block;
}
.inicio-post{
    background-color: #F2FFFC;
    color: #000;
    position: absolute;
    top: 3em;
    right: 3em;
    left: 30%;
    height: 7.5em;
    padding: 1em;
    display: none;
}
.foto-home {
    height: 200px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 50%;
    box-shadow: 0 0 1em #000;
}
.saudacao p {
    color: #99A;
    line-height: 1;
    font-size: 1.5em;
    padding: 2em;
}
.saudacao-inicio {
    color: #889;
    font-size: 3em;
}
.saudacao-ultima-linha {
    text-align: right;
    display: block;
}
.saudacao strong {
    color: #000;
    font-size: 2em;
}
.saudacao em {
    color: #851944;
    font-size: 4em;
    -webkit-transform: rotate(-5deg) skew(-10deg);
    transform: rotate(-5deg) skew(-10deg);
    display: inline-block;
    -webkit-animation: flutua 1s infinite;
    animation: flutua 1s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    position: relative;
}
@-webkit-keyframes flutua {
    from {
        top: -5px;
    }
    to {
        top: 5px;
    }
}
@keyframes flutua {
    from {
        top: -5px;
    }
    to {
        top: 5px;
    }
}
.saudacao:hover em {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
.botao-index {
    font-size: 1.25em;
    background-color: #851944;
    color: #FFF;
    border: .2em solid black;
    width: 40ch;
    display: block;
    text-align: center;
    padding: .5em;
    margin: 2em auto;
    box-shadow: 0 0 1em #000, inset 0 0 .5em #FFF;
    transition: .5s;
}
.botao-index:hover,
.botao-index:focus{
    background-color: #C54974;
    color: white;
    box-shadow: 0 0 1em #FA9;
}
.secao-inicio{
    padding: 2em;
}
.secao-inicio h2 {
    font-size: 3em;
    text-shadow: 2px 2px #000;
    text-transform: uppercase;
    margin-bottom: .5em;
}
.trabalhos {
    background-color: #3C1D3D;
    border-top: .5em solid #000;
    border-bottom: .5em solid #000;
    background-image: linear-gradient(135deg, transparent, transparent 14px, rgba(0, 0, 0, .1) 14px,rgba(0, 0, 0, .1) 15px, transparent 15px, transparent);
    background-size: 20px 20px;
    background-attachment: fixed;
}
.trabalhos h2 {
    color: #FFF;
}
.trabalhos ul {
    display: flex;
}
.trabalhos li {
    flex: 1;
    border: .5em solid black;
}
.trabalhos li:first-child{
    order: 2;
    transform: scale(1.2);
}
/*Define a propriedade order para o segundo item da lista*/
.trabalhos li:nth-child(2) {
    order: 1;
}
.trabalhos li:last-child {
    order: 3;
}
.trabalhos img {
    width: 100%;
    display: block;
}
.blog {
    background-color: #999;
    color: #FFF;
    border-bottom: .5em solid #851944;
    position: relative;
    background-image: linear-gradient(45deg, transparent, transparent 14px, rgba(255, 255, 255, .1) 14px,rgba(255, 255, 255, .1) 15px, transparent 15px, transparent);
    background-size: 20px 20px;
    background-attachment: fixed;
}
.blog small{
    position: relative;
    top: -1em;
}
.blog li a {
    color: #C26;
    padding: .5em;
    display: block;
}
.blog a:hover, .blog a:focus{
    background-color: #F2FFFC;
    color: red;
}
.blog li{
    width: 30%;
}
.blog a:hover + .inicio-post, .blog a:focus + .inicio-post{
    display: block;
}
footer {
    background-color: #000;
    color: #FFF;
    padding: 2em;
}
footer h2{    
    font-size: 3em;
}
footer a {
    color: #F99;
}
main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}
.palavra-home{
    font-size: 1em;
    font-family: "Shadows Into Light", cursive;
    font-weight: bold;
    color: rgba(255, 127, 127, .5);
    position: absolute;
    text-transform: none;
    -webkit-animation: aparece 2s;
    animation: aparece 2s;
}
@-webkit-keyframes aparece{
    /* podemos usar a palavra-chave "from" também no lugar de 0% */
    0% {
        opacity: 0;
        transform: scale(0.001);
    }
}
@keyframes aparece{
    /* podemos usar a palavra-chave "from" também no lugar de 0% */
    0% {
        opacity: 0;
        transform: scale(0.001);
    }
}
.eficiencia {
    top: 50%;
    left: 60%;
    opacity: .9;
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(4px) scale(0.25);
}

.boas-praticas {
    top: 70%;
    left: 20%;
    opacity: .4;
    transform: translate(-50%, -50%) rotate(10deg) translateZ(1px)  scale(0.25);
}

.codigo-limpo {
    top: 45%;
    left: 25%;
    opacity: .6;
    transform: translate(-50%, -50%) rotate(-10deg) translateZ(2px) scale(0.25);
}

.css3 {
    top: 55%;
    left: 35%;
    opacity: .6;
    transform: translate(-50%, -50%) rotate(5deg) translateZ(2px) scale(0.25);
}

.html5 {
    top: 30%;
    left: 65%;
    opacity: .7;
    transform: translate(-50%, -50%) rotate(10deg) translateZ(2px) scale(0.25);
}

.javascript {
    top: 15%;
    left: 60%;
    opacity: .4;
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(1px) scale(0.25);
}

.acessibilidade {
    top: 30%;
    left: 35%;
    opacity: .8;
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(3px) scale(0.25);
}

.responsivo {
    top: 40%;
    left: 40%;
    opacity: .8;
    transform: translate(-50%, -50%) rotate(10deg) translateZ(3px) scale(0.25);
}

.otimizacoes {
    top: 70%;
    left: 65%;
    opacity: .6;
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(2px) scale(0.25);
}

.agilidade {
    top: 75%;
    left: 35%;
    opacity: .4;
    transform: translate(-50%, -50%) rotate(5deg) translateZ(1px) scale(0.25);
}

.design {
    top: 40%;
    left: 60%;
    opacity: .6;
    transform: translate(-50%, -50%) rotate(10deg) translateZ(2px) scale(0.25);
}
.banner-twitter {
    width: 14em;
    line-height: 1;
    padding: 1em 0;
    box-sizing: border-box;

    text-align: center;
    text-decoration: none;
    background-color: #3C1D3D;
    color: white;
    border: .25em solid black;

    font-size: 1.2em;
    font-family: "Open Sans Condensed", sans-serif;
    
    position: absolute;
    top: 0;
    right: 0;
    transform-origin: 0 0;
    /*transform: translate(6.5765em, -2.4745em) rotate(45deg);*/
    /*Utilizando a tag calc para fazer o posicionamento*/
    transform: translate(calc(0.707 * (3.5em - 100%) + 100%), calc(-0.707 * 3.5em))  rotate(45deg);
    -webkit-animation: aparece .5s;
    animation: aparece .5s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}
.palavras-home{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.palavras-home li{
    font-size: 400%;
}
.palavras-home, .titulo-principal {
    transform-style: preserve-3d;
}